In [19]:
import numpy as np
import pandas as pd
import os

path = os.getcwd()
df = pd.read_csv(path+'\\parsers\\data\\BMW.csv', sep='|')

In [20]:
df.head()

,bodyType,brand,color,fuelType,modelDate,name,numberOfDoors,productionDate,vehicleConfiguration,vehicleTransmission,...,Комплектация,Привод,Руль,Состояние,Владельцы,ПТС,Таможня,Владение,price,currency
0,седан,BMW,97948F,GASOLINE,1968,E3 2.5 MT (150 л.с.),4,1969,SEDAN MECHANICAL 2.5,MECHANICAL,...,NaN,REAR_DRIVE,LEFT,NaN,2.0,True,True,2011 1,460000.0,RUR
1,седан 2 дв.,BMW,FF8649,GASOLINE,1966,02 (E10) 2.0 MT (101 л.с.),2,1972,SEDAN_2_DOORS MECHANICAL 2.0,MECHANICAL,...,NaN,REAR_DRIVE,LEFT,NaN,1.0,True,True,1977 12,1000000.0,RUR
2,седан,BMW,22A0F8,GASOLINE,1968,E3 2.5 MT (150 л.с.),4,1975,SEDAN MECHANICAL 2.5,MECHANICAL,...,NaN,REAR_DRIVE,LEFT,NaN,2.0,True,True,1989 7,850000.0,RUR
3,седан,BMW,007F00,GASOLINE,1977,7 серии 733i 3.2 MT (197 л.с.),4,1981,SEDAN MECHANICAL 733i,MECHANICAL,...,NaN,REAR_DRIVE,LEFT,NaN,2.0,True,True,NaN,350000.0,RUR
4,седан,BMW,97948F,GASOLINE,1981,5 серии 520i 2.0 MT (125 л.с.),4,1982,SEDAN MECHANICAL 520i,MECHANICAL,...,NaN,REAR_DRIVE,LEFT,NaN,1.0,True,True,2018 3,1890000.0,RUR

bodyType                   0
brand                      0
color                      0
fuelType                   0
modelDate                  0
name                       0
numberOfDoors              0
productionDate             0
vehicleConfiguration       0
vehicleTransmission        0
engineDisplacement         0
enginePower                0
description              123
mileage                    0
Комплектация            6131
Привод                     0
Руль                       0
Состояние               6131
Владельцы               1789
ПТС                      735
Таможня                    0
Владение                4643
price                     17
currency                  17
dtype: int64